@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: saira, sans-serif;

}
@theme{
    --color-dark-100:#1a1a1a;
    --color-dark-200:#1f1f1f;
    --color-dark-300:#2d2d2d;
    --color-dark-400:#3d3d3d;
    --color-purple:#8B5CF6;
    --color-pink:#EC4899;
    --color-blue:#3B82F6;
}
/* .typewrite{
    overflow: hidden;
    border-right: .15em solid #8B5CF6;
    white-space: nowrap;
    width: 0;
    animation: typing 4.5s steps(90, end) forwards, blink-caret .85s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 15ch;} */

/* } */

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #8B5CF6;
  white-space: nowrap;

  animation: typing 4.5s steps(30, end) forwards, blink-caret 0.85s step-end infinite;
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #8B5CF6; }
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a192f;
    color: #ccd6f6;
}